<%- contentFor('meta') %>
<title>Tell us about your item</title>
<%- contentFor('styles') %>
<style>
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-input {
  border-color: #ced4da !important; 
  border-radius: 0.25rem;
}

.image-input.is-invalid {
  border-color: #dc3545 !important;
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}
</style>
<%- contentFor('scripts') %>
<script>
$(document).ready(function() {
  /*  ==========================================
      SHOW UPLOADED IMAGE
  * ========================================== */
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader()

      reader.onload = function (e) {
        $('#imageResult').attr('src', e.target.result)
      }
      reader.readAsDataURL(input.files[0])
    }
  }

  $('#upload').on('change', function () {
    readURL(input)
  })

  /*  ==========================================
      SHOW UPLOADED IMAGE NAME
  * ========================================== */
  var input = document.getElementById( 'upload' )
  var infoArea = document.getElementById( 'upload-label' )

  input.addEventListener('change', showFileName)
  function showFileName(event) {
    var input = event.srcElement
    var fileName = input.files[0].name
    infoArea.textContent = 'File name: ' + fileName
  }

  /*  ==========================================
      Submit 
  * ========================================== */
  $('#auction-form').on('input', '.is-invalid', function(e) {
      $(e.target).removeClass('is-invalid').siblings('.invalid-feedback').text('')
      $(e.target).parents('.is-invalid').removeClass('is-invalid').siblings('.invalid-feedback').text('')
    })

  $("#auction-form").on('submit', function(e) {
    e.preventDefault()

    $.ajax({
      url: "/api/my/auction", 
      type: "POST", // http method
      processData: false,
      contentType: false,
      data: new FormData(e.target)
    }).done(function(data) {
      window.location.href = `/auction/${data.id}`
    }).fail(function(xhr) {
      switch(xhr.status) {
        case 406: {//no input
          $(`#auction-form .is-invalid`).removeClass('is-invalid')
          $('#auction-form .invalid-feedback').text('')

          xhr.responseJSON.errors.forEach(function(errorObj) {
            const $input = $(`#auction-form [name="${errorObj.param}"]`)
            const $feedback = $input.siblings('.invalid-feedback')
            $input.addClass('is-invalid')
            $feedback.text(errorObj.msg)
          })
          break;
        }
        default: {
          console.log(xhr)
        }
      }
    })
  })
})
</script>
<%- contentFor('body') %>
<div class="container my-3">
  <div class="row">
    <form id="auction-form" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" class="form-control" placeholder="Nike Air Force 1" name="title">
        <div class="invalid-feedback">Title can't be empty</div>
      </div>

      <div class="form-group">
        <label for="price">Sell Price</label>
        <input id="price" type="number" class="form-control" placeholder="800" name="price">
        <div class="invalid-feedback">Price can't be empty</div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" rows="4" placeholder="Eur 41 that is equiv to US 8" name="description"></textarea>
        <div class="invalid-feedback">Description can't be empty</div>
      </div>

      <div class="form-group">
        <!-- Upload image input-->
        <label for="upload">Image</label>
        <div class="image-input input-group mb-3 px-2 py-2 border" name="image">
          <input id="upload" type="file" class="form-control" name="image">
          <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
          <div class="input-group-append">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
          </div>
        </div>
        <div class="invalid-feedback">Image can't be empty</div>
      
        <!-- Uploaded image area-->
        <div class="image-area mt-4">
          <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
        </div>
      </div>

      <button id="submit-btn" class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>  
