<!-- copy from login modal -->
<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log in here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form id="loginForm" role="form">
          <h5 id="login-form-msg" class="text-danger"></h5>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="login-email" name="email" placeholder="Your email address">
            <div class="invalid-feedback">Wrong Email</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="login-password" name="password" placeholder="Your password here">
            <div class="invalid-feedback">Wrong Password</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login-btn" type="submit" class="btn btn-primary">Log-in</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function() {
    $('#login-modal').on('show.bs.modal', function (event) {
      $('#loginForm')[0].reset()
      $('#loginForm .invalid-feedback').text('')
      $('#login-form-msg').text('')
    })

    $("#login-btn").click(function() {
      $.post("/api/auth/login", $("#loginForm").serialize()).done(function(data) {
        window.location.href = "/"
        console.log('hi')
      }).fail(function(xhr) {
        switch(xhr.status) {
          case 401: // Credentials is incorrect
          case 404: // User not found with email
            $('#login-form-msg').text(xhr.responseJSON.message)
            break
          case 406: //no input. this is complete
            $(`#loginForm .is-invalid`).removeClass('is-invalid')
            $('#loginForm .invalid-feedback').text('')

            xhr.responseJSON.errors.forEach(function(errorObj) {
              const $input = $(`#loginForm [name="${errorObj.param}"]`)
              const $feedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $feedback.text(errorObj.msg)
            });
            break;
          default: 
            console.log(xhr)
        }
      })
    })
  })
</script>

<script>
  // $(document).ready(function() {
  //   $('#signup-modal').on('show.bs.modal', function (event) {
  //     $('#signupForm')[0].reset()
  //     $(`#signupForm .is-invalid`).removeClass('is-invalid')
  //     $('#signupForm .invalid-feedback').text('')
  //   })

  //   $('#signupForm').on('input', '.is-invalid', function(e) {
  //     $(e.target).removeClass('is-invalid').siblings('.invalid-feedback').text('')
  //   })

  //   $("#signup-btn").click(function() {
  //     // let formData = $("#signupForm").serializeArray()
  //     $.post("/api/auth/signup", $("#signupForm").serialize()).done(function(data) {
  //       $('#signup-modal').modal('hide')
  //       $('#login-modal').modal('show')
  //     }).fail(function(xhr) {
  //       switch(xhr.status) {
  //         case 406:
  //           $(`#signupForm .is-invalid`).removeClass('is-invalid')
  //           $('#signupForm .invalid-feedback').text('')

  //           xhr.responseJSON.errors.forEach(function(errorObj) {
  //             const $input = $(`#signupForm [name="${errorObj.param}"]`)
  //             const $feedback = $input.siblings('.invalid-feedback')
  //             $input.addClass('is-invalid')
  //             $feedback.text(errorObj.msg)
  //           })
  //           break;
  //         default:
  //           console.log(xhr)
  //       }
  //     })
  //   })
  // }) 
  </script>