<!-- Modal -->
<div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post new product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form id="postForm" role="form">
          <h5 id="post-form-msg" class="text-danger"></h5>
          <div class="form-group">
            <label for="text">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Apple Mac Air">
          </div>
          <div class="form-group">
            <label for="text">Description</label>
            <input type="text" class="form-control" rows="3" name="description" placeholder="Screen size: 16 inch, bought in 2012">
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login-btn" type="submit" class="btn btn-primary">Log-in</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function() {
    $('#login-modal').on('show.bs.modal', function (event) {
      $('#loginForm')[0].reset()
      $('#loginForm .invalid-feedback').text('')
      $('#login-form-msg').text('')
    })

    $("#login-btn").click(function() {
      $.post("/api/auth/login", $("#loginForm").serialize()).done(function(data) {
        window.location.href = "/"
        console.log('hi')
      }).fail(function(xhr) {
        switch(xhr.status) {
          case 401: // Credentials is incorrect
          case 404: // User not found with email
            $('#login-form-msg').text(xhr.responseJSON.message)
            break
          case 406: //no input. this is complete
            $(`#loginForm .is-invalid`).removeClass('is-invalid')
            $('#loginForm .invalid-feedback').text('')

            xhr.responseJSON.errors.forEach(function(errorObj) {
              const $input = $(`#loginForm [name="${errorObj.param}"]`)
              const $feedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $feedback.text(errorObj.msg)
            });
            break;
          default: 
            console.log(xhr)
        }
      })
    })
  })
</script>